.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.rowMiddle {
  align-items: center;
}

.column {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

/* Calendar */
.calendar {
  display: block;
  position: relative;
  width: 90%;
  background: #ffffff;
  border: 1px solid lightgray;
  border-right: none;
  height: auto;
  margin: 0 auto;
}

.header {
  background-image: linear-gradient(
    45deg,
    rgba(191, 241, 236, 1) 0%,
    rgba(109, 192, 236, 1) 40%
  );
  border-right: 1px solid lightgray;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 150%;
  padding: 1.5em 0;
  border-bottom: 1px solid lightgray;
}

.header .monthDetails {
  display: flex;
}

.header .month {
  margin: auto 1em;
  width: 210px;
}

.header .icon {
  cursor: pointer;
  transition: 0.15s ease-out;
  margin: auto 0.5em;
}

.header .icon:hover {
  transform: scale(1.75);
  transition: 0.25s ease-out;
}

.weekday {
  font-size: 110%;
  font-weight: 800;
  text-align: center;
}

.days {
  text-transform: uppercase;
  font-weight: 400;
  color: gray;
  font-size: 70%;
  padding: 0.75em 0;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.body .cell {
  position: relative;
  height: 6em;
  border-right: 1px solid lightgray;
  overflow: hidden;
  cursor: pointer;
  background: #ffffff;
  transition: 0.25s ease-out;
}
.body .cell:hover {
  background: rgba(191, 241, 236, 0.3);
  transition: 0.5s ease-out;
}

.selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(
    45deg,
    rgba(109, 192, 236, 1) 0%,
    rgba(191, 241, 236, 1) 40%
  );
  border-image-slice: 1;
}

/* .body .row {
  border-bottom: 1px solid lightgray;
}
.body .row:last-child {
  border-bottom: none;
}
.body .cell:last-child {
  border-right: none;
}
.body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: 0.75em;
  right: 0.75em;
  font-weight: 700;
}
.body .cell:hover .number,
.body .enabled .number {
  visibility: hidden;
}
.body .disabled {
  color: lightgray;
  pointer-events: none;
}

.body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: rgba(109, 192, 236, 1);
  opacity: 0;
  font-size: 5em;
  position: absolute;
  top: -0.2em;
  right: -0.05em;
  transition: 0.25s ease-out;
  letter-spacing: -0.07em;
}

.body .cell:hover .bg,
.body .enabled .bg {
  opacity: 0.2;
  transition: 0.5s ease-in;
}

.body .column {
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
} */

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
}

.gridcell {
  position: relative;
  height: 6em;
  border-right: 1px solid lightgray;
  overflow: hidden;
  cursor: pointer;
  background: #ffffff;
  transition: 0.25s ease-out;
  border-bottom: 1px solid lightgray;
}

.gridcell:hover .bg,
.grid .enabled .bg {
  opacity: 0.2;
  transition: 0.5s ease-in;
}

.grid .gridcell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: 0.75em;
  right: 0.75em;
  font-weight: 700;
}

.grid .gridcell:hover .number,
.grid .enabled .number {
  visibility: hidden;
}

.grid .disabled {
  color: lightgray;
  pointer-events: none;
}

.grid .bg {
  font-weight: 700;
  line-height: 1;
  color: rgba(109, 192, 236, 1);
  opacity: 0;
  font-size: 5em;
  position: absolute;
  top: -0.2em;
  right: -0.05em;
  transition: 0.25s ease-out;
  letter-spacing: -0.07em;
}